body {
  background-color: #26292E;
	color: rgb(240, 237, 242);
  font-family: 'Roboto', sans-serif;
  padding-top: 50px;
}

.buffer {
  background: #DE5E60;
  height: 100%;
  opacity: 0.25;
  position: absolute;
  top: 0;
}

.chat-container {
  background: #343a40;
}

.playertime {
  font-size: 14px;
}

.img-tooltip {
  position: absolute;
}

.progressBar {
  background-color: #2F3238;
  height: 5px;
  position: relative;
}

.progress {
  background: #DE5E60;
  height: 100%;
}

/* Chat Box */

form {
  bottom: 0;
  padding: 3px;
  position: fixed;
  width: 100%;
}

#messages {
  /* height: 480px; */
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #2F3238;
}

.player-wrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.player-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.room-info {
  background: #343a40;
}
